* {
    /* outline: 1px solid red; */
    margin: 0;
}


body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
body > * {
    margin-bottom: 40px;
}


#title {
    margin-top: 40px;
    padding: 10px;

    font-size: 40px;
    font-weight: bold;

    background-color: rgba(255, 255, 255, 0.3);
    outline: 1px solid black;
}


#weather-form {
    padding: 20px;

    display: flex;
    flex-direction: column;

    background-color: rgba(255, 255, 255, 0.3);
    outline: 1px solid black;
}
#weather-form :not(:last-child) {
    margin-bottom: 10px;
}
#weather-label {
    text-align: center;
}
#weather-input {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}
#weather-btn {
    width: 100px;
    align-self: center;
}


#msg {
    display: none;
    width: 500px;
    padding: 10px;
    text-wrap: wrap;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    outline: 1px solid black;
}


#daily-title, #hourly-title {
    display: none;
    padding: 8px;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.3);
    outline: 1px solid black;
}


#daily-weather, #hourly-weather {
    display: flex;
    width: 90%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap
}
.day, .hour {
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    outline: 1px solid black;
}
.day:first-child, .hour:first-child {
    margin-left: 20px;
}
.day:last-child, .hour:last-child {
    margin-right: 20px;
}
.day > *:not(:last-child), .hour > *:not(:last-child) {
    margin-bottom: 4px;
}
.day-icon, .hour-icon {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
}
